#result_body{
    margin-left: auto;
    margin-right : auto;
    background-color: rgba(244, 244, 244, 0.8);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 10px 10px gray;
    width : 95%;
    vertical-align: middle;
    padding-top: 2%;
}
#result_body h1{
    padding-top: 20px;
    margin-bottom: 30px;
    margin-left: 45%;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 0px 1px #ffffff, 10px 10px 0px #dad7d7;
}
.result_comp{
    align-items: center;
}
.frame_img{
    object-fit: cover;
    cursor:pointer;
    width : 300px;
    height : 150px;
}
img:hover{
    opacity: 0.5;
}
.frame_prt_div{
    text-align: center;
    float : left;
    margin : 5px
}

.G{
    border: 6px solid #27AE60;
}
.PG{
    border: 6px solid #F1C40F;
}
.R{
    border: 6px solid #C0392B;
}
select{
    margin-top:8px;
}
#save_button{
    margin-top:20px;
    margin-left:50%;
    margin-right: 50%;
    font-size: 20px;
    font-family: 'M PLUS 1p', sans-serif;
    color : silver;
    font-weight: bold;
    box-Shadow: '0 0 0 0.2rem rgba(0,123,255,.5)',
}
#save_button:hover{
    color : rgb(46, 59, 85);
}